<div class="card card-nav-tabs">
    <div class="header header-info navbar navbar-info">

        <div class="container-fluid">
			<div class="navbar-header">
            	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-icons">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
            	</button>
            	<a class="navbar-brand" href="#pablo">Icons<div class="ripple-container"></div></a>
            </div>

            <div class="collapse navbar-collapse" id="example-navbar-icons">
            	<ul class="nav navbar-nav navbar-right">
                   	<li class="dropdown">
                		<a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
							<i class="material-icons">settings</i>
							<b class="caret"></b>
						</a>
                    	<ul class="dropdown-menu dropdown-menu-right">
                        	<li class="dropdown-header">Dropdown header</li>
                        	<li><a href="#pablo"><i class="fa fa-refresh fa-fw"></i> Refresh</a></li>
                            <li><a href="#pablo"><i class="fa fa-check-circle fa-fw"></i> Available</a></li>
                            <li><a href="#pablo"><i class="fa fa-times fa-fw"></i> Busy</a></li>
                            <li><a href="#pablo"><i class="fa fa-times fa-fw"></i> Away</a></li>
                                <li class="divider"></li>
                            <li><a href="#pablo"><i class="fa fa-sign-out fa-fw"></i> Sign Out</a></li>
                        </ul>
                	</li>

            	</ul>
            </div>
		</div>
    </div>

    <div class="content">
        <ul class="chat">
            <li class="left clearfix">
                <span class="chat-img pull-left">
                    <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">Jack Sparrow</strong>
                        <small class="pull-right text-muted">
                            <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                        </small>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                    </p>
                </div>
            </li>
            <li class="right clearfix">
                <span class="chat-img pull-right">
                    <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle">
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <small class=" text-muted">
                            <i class="fa fa-clock-o fa-fw"></i> 13 mins ago
                        </small>
                        <strong class="pull-right primary-font">Bhaumik Patel</strong>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                    </p>
                </div>
            </li>
            <li class="left clearfix">
                <span class="chat-img pull-left">
                    <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">Jack Sparrow</strong>
                        <small class="pull-right text-muted">
                            <i class="fa fa-clock-o fa-fw"></i> 14 mins ago
                        </small>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                    </p>
                </div>
            </li>
            <li class="right clearfix">
                <span class="chat-img pull-right">
                    <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle">
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <small class=" text-muted">
                            <i class="fa fa-clock-o fa-fw"></i> 15 mins ago
                        </small>
                        <strong class="pull-right primary-font">Bhaumik Patel</strong>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                    </p>
                </div>
            </li>
        </ul>

        <div class="footer">
            <div class="input-group">
                <div class="form-group is-empty">
    		        <input type="text" value="" placeholder="Regular" class="form-control">
    		        <span class="material-input"></span>
                </div>
                <span class="input-group-btn">
                    <button class="btn btn-warning btn-sm" id="btn-chat">
                        Send
                    </button>
                </span>
            </div>

        </div>
    </div>
</div>
